<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Llamar al CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0e5dee2de0.js" crossorigin="anonymous"></script>


</head>
<main>

    <body>
        <header>
            <div class="Main-topNavbar">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
                <!-- <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Search.." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form> -->
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </h2>
            </div>
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>

            <nav class="mainNavbar">
                <ul class>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul>
                    <li>
                        <i class="fas fa-sign-in-alt"></i>
                        <a href="/register">Creá tu cuenta</a>
                    </li>
                    <li>
                        <i class="fas fa-shopping-basket"></i>
                        <a href="#">Ingresá</a>
                    </li>
                    <li>
                        <i class="far fa-address-card"></i>
                        <a href="#">Mis compras</a>
                    </li>

                </ul>
            </nav>

            <img src="/images/img-home-banner.jpg" alt="Banner de ofertas" class="banner">
        </header>
        <div class="container">
            <h3>Basado en la ultima vista</h3>
            <section class="producto">

                <article>

                    <div class=imagenDeProductos><img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="img"></div>


                    <div class=contenedorDescripionesPrecios>
                    <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex Dolce Gusto</h4>
                    </div>

                </article>

                <article>

                    <div class=imagenDeProductos> <img src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="img"></div>

                    <div class=contenedorDescripionesPrecios><!--iconito de camión-->
                    <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
                    <p class="price">$70.500</p>
                    <p class="discount">15% off</p>
                    <h4 class="description">Teléfono móvil Samsung Galaxy S10</h4>
                </div>
                </article>
                 <article>

                    <div class=imagenDeProductos> <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="img"></div>

                    <div class=contenedorDescripionesPrecios>
                    <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
                    <p class="price">$34.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">SmartTv Samsung 43</h4>
                    </div>


                 </article>
                 <article>



                    <div class=imagenDeProductos> <img src="/images/img-macbook-pro-2019.jpg" alt="SmartTv Samsung" class="img"></div>

                    <div class=contenedorDescripionesPrecios>
                    <div class="contenedorCamion"><i class="fas fa-truck" ></i></div>
                    <p class="price">$34.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">Macbook pro 2019 i7 16GB ram</h4>
                    </div>

                </article>
                <br>
            </section>
        </div>
        <br><br>


        <!--iconito de tarjeta-->
    </main>
        <footer>
            <div class="threeboxfoot">
                <section class="footersection"> <span class=iconosAzules>
                    <i class="far fa-credit-card"></i> </span>
                  <h4>Pagá con tarjeta o en efectivo </h4>

                  <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </h6>

                </section>

                <section class="footersection"> <span class=iconosAzules>
                    <i class="fas fa-gift"></i></span>
                  <h4>Envío gratis desde $ 2.500 </h4>

                  <h6> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. </h6>

                </section>


                <section class="footersection"> <span class=iconosAzules>

                    <i class="fas fa-user-shield"></i></span>

                  <h4>Seguridad, de principio a fin </h4>
                  <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</h6>
                </section>
              </div>
            <br>
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>

        </footer>
    </body>


</html>